@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Texturina:ital,wght@1,300&display=swap');

:root{
    --green:#526E2A;
    --brown:#C19A6B

}

body{
    font-family: 'Nerko One', cursive;
    font-family: 'Texturina', serif;
    margin:auto;
    background-color:var(--brown) ;
}

.hero{
    text-align: center;
    padding:1rem;
    margin-bottom:1rem;
    background-color: var(--green);
}

.hero-header{
    font-weight: bold;
    font-size: large;
    letter-spacing: 0.1rem;
    color: Black;
}



.footer{
    padding:1rem;
    text-align:center;
    margin-top:2rem;
    position: fixed;
    bottom:0;
    box-sizing: border-box;
    width: 100%;
    color: black;
    background-color: var(--green);
}

.input{
    display:block;
    margin:auto;
    padding:1rem;
    height: 20vh;
    width:50%;
    box-sizing: border-box;
    border: solid;

}

.output{
    display:block;
    margin:auto;
    padding:1rem;
    height: 20vh;
    width:50%;
    box-sizing: border-box;
    border: solid;
    background-color: white;

}

.output-label{
    display:block;
    padding:1rem 0rem;
    margin:auto;
    box-sizing:border-box;
    width:50%;
    font-weight:bold
}


.container-button{
    display: block;
    margin:auto;
    padding:1rem 0rem;
    width:50%;
    box-sizing:border-box

}

.button{
    padding:1rem;
    margin:auto;
    background-color:var(--green);
    border:solid
}

.footer-header{
    font-size: large;
    font-weight: bold;
    text-align: center;
    letter-spacing:0.1rem;
    color: black;
}


