@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Texturina:ital,wght@1,300&display=swap');

:root{
    --green:#526E2A;
    --brown:#C19A6B;
    --light-brown:#FEF3C7;

}

body{
    font-family: 'Nerko One', cursive;
    font-family: 'Texturina', serif;
    margin:auto;
    background-color:var(--brown) ;
}

.hero{
    text-align: center;
    padding:1rem;
    margin-bottom:1rem;
    background-color: var(--green);
}

.hero-header{
    font-weight: bold;
    font-size: large;
    letter-spacing: 0.1rem;
    color: Black;
}

.hero-image{
    max-width: 150px;
    display:block;
    margin:auto;
}

.container-center{
    margin:auto;
    padding:1rem;
    width:50%
}

#txt-input{
    display:block;
    box-sizing: border-box;
    height: 15vh;
    width:100%;
    padding:1rem;
    border:solid;
    background-color: var(--light-brown);
}

.input-output-label{
    display:block;
    text-align: center;
    padding:1rem;
    margin:auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-left{
    background-color: var(--green);
    border:solid;
    margin:auto;
    float:left;
    height:5vh;
    cursor: pointer;
    outline: none;
}

.button-right{
    background-color: var(--green);
    border:solid;
    margin:auto;
    float: right;
    height:5vh;
    cursor: pointer;
    outline: none;
}

.btn-container{
    max-width:200px;
    padding:1rem;
    margin:auto;
    width:50%;
    height:5vh;
}

#txt-output{
    display:block;
    box-sizing: border-box;
    height: 15vh;
    width:100%;
    padding:1rem;
    border:solid;
    background-color:var(--light-brown)
}


.footer{
    padding:1rem;
    text-align:center;
    box-sizing: border-box;
    width: 100%;
    color: black;
    background-color: var(--green);
}

.footer-header{
    font-size: large;
    font-weight: bold;
    text-align: center;
    letter-spacing:0.1rem;
    color: black;
}




